# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.zip
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

*.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# credentials

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

